
/* nav {
  background-color: lightgray;
  min-height: 60px;
}
header {
  background-color: violet;
  min-height: 150px;
}
main {
  background-color: rgb(255, 226, 62);
  min-height: 350px;
}
aside {
  background-color: yellowgreen;
  min-height: 200px;
}
footer {
  background-color: cornflowerblue;
  min-height: 80px;
}
.placeholder {
  color: white;
  font-style: 1.3rem;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;
}
article {
  background-color: rgb(128, 240, 240);
  margin: 5px;
}
aside article {
  background-color: rgb(248, 37, 37);
} */

body {
  margin: 0;
}
.row {
  display: flex;
}
.column {
  flex: 1 0 0;
  /* flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0; */
  background-color: rgba(238, 130, 238, 0.5);
}
.container {
  width: 980px;
  margin: 0 auto; 
} 